@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
  background: url("https://www.transparenttextures.com/patterns/foggy-birds.png"), linear-gradient(50deg, #ff6881, #e248c8) no-repeat fixed;
  text-align: center;
  padding-top: 80px;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  text-shadow: -1px 1px 0 #000, 
               -2px 2px 0 #000, 
               -3px 3px 0 #000, 
               -4px 4px 0 #000, 
               -5px 5px 0 #000, 
               -6px 6px 0 #000;
  font-size: 5rem;
  color: #fff;
  font-weight: normal;
  margin-bottom: 10px;
}

span {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}

p {
  width: 40%;
  margin: 0 auto 20px;
  font-size: 1.2rem;
  font-style: italic;
}

a {
  color: #fff;
  text-shadow: -1px 1px 0 #000, 
               -2px 2px 0 #000, 
               -3px 3px 0 #000;
  text-decoration: none;
  transition: all 0.8s;
}

a:hover {
  text-shadow: -1px 1px 0 #000, 
               -2px 2px 0 #000, 
               -3px 3px 0 #000, 
               -4px 4px 0 #000, 
               -5px 5px 0 #000, 
               -6px 6px 0 #000;
}

textarea,
button {
  display: block;
  margin: 0 auto 20px;
}

textarea {
  width: 40%;
  height: 80px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.5s;
}

textarea:focus {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

button {
  padding: 8px 10px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  border-color: #fff;
  background: #000;
  color: #fff;
}

img {
  display: block;
  width: 20%;
  margin: auto;
}